.example-form {
  margin-left: 50%;
}
.example-form2 {
  margin-left: 80%;
}
.example-form3 {
  margin-right: 50%;
}
.example-form4 {
  margin-left: 680px;
}
.example-form5 {
  margin-left: 400px;
}
.cl {
  margin: 22px;
}
.example-viewport {
  height: 470px;
  width: 900px;
  border: 1px solid #00000021;
}

.example-item {
  height: 50px;
}
.spinner-doc {
  margin-left: 10%;
  margin-top: 20%;
  
}
.spinner-doc2 {
    margin-left: 8%;
    margin-top: 20%;
    
  }
  .back{
    margin-left: 24%;
    margin-bottom: -5%;
  }
